<?xml version="1.0" encoding="UTF-8"?>
<suite name="Suite" parallel="false">
  <test name="Test1">
    <classes>
      <class name="Basic_Search_testcase"/>
    </classes>
  </test> <!-- Test -->
  <test name="Test2">
    <classes>
      <class name="Advanced_Search_testcase"/>
    </classes>
  </test> <!-- Test -->
  
</suite> <!-- Suite -->
