<?xml version="1.0" encoding="UTF-8"?>
<suite name="Suite" parallel="tests">
  <test name="Test1">
    <classes>
      <class name="repository.Chrometest"/>
    </classes>
  </test> <!-- Test -->
  <test name="Test2">
    <classes>
      <class name="repository.Firefoxtest"/>
    </classes>
  </test> <!-- Test -->
  
  
</suite> <!-- Suite -->
