<?xml version="1.0" encoding="UTF-8"?>
<suite name="Suite" parallel="tests">
  
  <test name="Test1">
  <groups>
     <run>
          <include name ="smoketests"/>
     </run>
  </groups>
  
    <classes>
      <class name="groups"/>
    </classes>
  </test> <!-- Test -->
  
</suite> <!-- Suite -->
